body {
	font-family: Helvetica;
}

.row-header {
	width: 100px;
	font-size: 20px;
	font-weight: bold;
}

.row-header.eu {
	color: #AECCF0;
}

td {
	padding: 4px;
}

.inspecao {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #E6E6E6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.realizada {
	background: #149200;
}

.esquecida {
	outline: #BABABA solid 1px;
	background: white;
}

.agendada {
	background: #D1E9CD;
}

.agendada.para-mim {
	background: #AECCF0;
}

.mes-atual {
	background: #EFF7FF;
}

.com-apontamento {
	font-family: Material Symbols Outlined;
	font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
	font-size: 25px;
}

.com-apontamento.aberto {
	color: white;
}

.com-apontamento.fechado {
	color: darkgreen;
}