body {
	font-family: Helvetica;
}

.row-header {
	width: 100px;
}

.contribution-graph td {
	padding: 6px;
}

.inspecao {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #E6E6E6;
}

.concluida {
	background: #149200;
}

.esquecida {
	outline: #BABABA solid 1px;
	background: white;
}

.agendada {
	background: #D1E9CD
}

.para-mim {
	background: #AECCF0
}

.mes-atual {
	background: #EEEEEE;
}